<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    disableAnsi="false"
                    pattern="%style{%d{HH:mm:ss.SSS}}{bright_black} %highlight{%-5level} %style{%30.30c{1}}{bright_black} - %msg %style{%notEmpty{%X}}{cyan}%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>